*{
    margin: 0px;
    padding:0px;
    box-sizing: border-box;
}

.container{
width: 80%;
margin:auto;
}
.header-in{
    height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color:#be9c79;
}
body{
    font-family: "Nunito", sans-serif;
}
.logo i{
    margin-right: 10px;
}

.nav a{
    text-decoration: none;
    font-size: 20px;
    color:#222;
    margin-right:20px;
    cursor:pointer;
}

.nav a.current{
    color:#be9c79;
}

.nav a:hover{
    color:#be9c79;
}

.icon i{
    font-size: 20px;
    border:1px solid #be9c79;
    border-radius: 3px;
    padding: 5px;
    cursor:pointer;
}
.banner{
    height:85vh;
    background: url(../img/home-bg.png) no-repeat;
    background-position: center;
    background-size: cover;
}
.banner-in{
    padding-top: 15%;
}
.banner-in h2{
    font-size: 72px;
    color:#be9c79;
    font-family: "Merienda", cursive;
}
.banner-in p{
    color:#222;
    font-size: 22px;

}
.banner-in a{
    text-decoration: none;
    color:white;
    border:2px solid #fff;
    border-radius: 3px;
    padding:5px;
    margin-top:20px;
    font-size: 22px;
    display: inline-block;  
    font-weight:bold;
}
.offer-in{
    padding:70px 0px;
}
.offer-in h2{
    text-align: center;
    font-size: 48px;
    color:#be9c79;
    font-family: "Merienda", cursive;
}

.offer-box{
    width:23%;
    text-align: center;

}
.offer-row{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.offer-box h3{
    color:#be9c79;
    margin: 10px 0;
}

.offer p{
    color:#666;
}

.footer{
    border-top:2px solid #666;
    
}

.footer-in{
    padding:20px 0;
}
.footer-row{
    display: flex;
    justify-content: space-between;
}

.footer-box{
    display: flex;
    flex-direction: column;
    color:#be9c79;
}
.footer-box h3{
    color:#222;

}
.footer-box p{
    margin-top: 10px;
}
.footer a{
    color:#be9c79;
    text-decoration: none;
    margin-top: 10px;
}
.footer-box input{
    width:100%;
    padding:5px;
    border:2px solid #be9c79;
    border-radius: 6px;
    color:#666;
}

.login-form{
    width:350px;
    position: absolute;
    background-color: #fff;
    border:2px solid #be9c79;
    border-radius: 5px;
    padding:20px;
    top:30;
    right: 0px;
    visibility: hidden;
}
.login-form h3{
    color:#be9c79;
    text-align: center;
    margin-bottom:20px ;
}
.login-form input{
    width:100%;
    border:2px solid #be9c79;
    padding:10px;
    color:#be9c79;
    margin-bottom: 10px;
}

.login-form button{
    width: 100%;
    background-color: #be9c79;
    color:#fff;
    padding:10px;
    border-radius: 5px;
    border:none;
    outline:none;
}
.active{
    visibility: visible;
}
